  {{ include('partials/_header.html.twig') }}

      {% block body %}
     <section class="row-md-4" style="text-align-justify">
          <h1>Bienvenue sur mon site</h1>
           <p>Vous trouverez ici des informations sur les différents projets que j'ai réalisé, ainsi que des informations sur moi.</p>
   
     <section class="row-md-4">
          <h1>Bienvenue sur mon site</h1>
           <p>Vous trouverez ici des informations sur les différents projets que j'ai réalisé, ainsi que des informations sur moi.</p
  
     <section class="row-md-4">
          <h1>Bienvenue sur mon site</h1>
           <p>Vous trouverez ici des informations sur les différents projets que j'ai réalisé, ainsi que des informations sur moi.</p>
        {% endblock %}

    </body>
<footer>
    {{ include('partials/footer.html.twig') }}
</html>
